/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav {
  padding-left: 300px;
  width: 200px;
  top: unset;
}

.seitenabstand {
  padding-left: 30px;
}

img.browser {
  width: 400px;
  float: left;
  padding: 30px;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 40px;
}

img.logo_index {
  max-width: 30%;
}

img.logo_header {
  max-width: 10%;
  padding-left: 20px;
  padding-top: 10px;
}

img.rotzkind {
  width: 300px;
  float: left;
  padding-right: 30px;
}

h3.padding-bottom {
  padding-bottom: 20px;
}

.field-error {
  color: red;
  font-size: 0.875em;
}

.alert-success {
  width: fit-content;
  color: white;
  background-color: green;
  padding: 0.5em 1em;
  border-radius: 6px;
  margin: 1em 0;
}

.alert-error {
  width: fit-content;
  color: white;
  background-color: red;
  padding: 0.5em 1em;
  border-radius: 6px;
  margin: 1em 0;
}

.breadcrumb:last-child {
  color: rgba(255, 255, 255, 0.7);
}

.card-panel {
  padding: 15px;
}

.inboxmodal {
position: left;
}