<body>
  <!-- obere navbar -->
  <div class="navbar-fixed">
  <nav>
    <div class="row teal lighten-2">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down teal lighten-2">
        <li><a href="http://joyful.loc/inbox" onmouseover="showModal();" onmouseout="hideModal();"><i class="material-icons right">mail_outline</i>Inbox</a></li>
        <li><a href="http://joyful.loc/kalender"><i class="material-icons right">date_range</i>Kalender</a></li>
      </ul>
      <ul class="right hide-on-med-and-down teal lighten-2">
        <li><a href="http://joyful.loc/"><i class="material-icons">input</i></a></li>
      </ul>
    </div>
    </div>
  </nav>
</div>

<!-- sidenav -->
  <div class="col s12 m4 l2">
  <ul id="slide-out" class="sidenav col s12 m4 l2 sidenav-fixed">
    <li>
      <div class="user-view">
        <img class="circle" src="/img/dumbledore.png"/>
        <span class="black-text name">Albus Dumbledore</span>
        <span class="black-text email">admin@joyful.at</span>
      </div>
    </li>

    <li><a href="http://joyful.loc/dashboard" class="collection-item"><i class="material-icons">apps</i>Dashboard</a></li>
    <li><a href="http://joyful.loc/kinder" class="collection-item"><i class="material-icons">child_care</i>Kinder</a></li>
    <li><a href="http://joyful.loc/team" class="collection-item"><i class="material-icons">group</i>Team</a></li>
    <li><a href="http://joyful.loc/speiseplan" class="collection-item"><i class="material-icons">restaurant</i>Speiseplan</a></li>
  
    <li><div class="divider"></div></li>
  </ul>
  <a href="http://joyful.loc" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal inboxmodal">
      <div class="modal-content">
        <ul class="collection container col s12 m4 l10">
          <li class="collection-item avatar">
            <img src="/img/mustermann.jfif" alt="" class="circle">
            <span class="title"><a href="http://joyful.loc/nachricht-example" class="black-text">Hans Mustermann</a></span>
            <p>Speiseplan
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="/img/rotzkind.jpg" alt="" class="circle">
            <span class="title">Heidi Lala</span>
            <p>Verspätung
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="/img/harrypotter.jpg" alt="" class="circle">
            <span class="title">Harry Potter</span>
            <p>Krank
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="/img/pippi.jpg" alt="" class="circle">
            <span class="title">Pippi Langstrumpf</span>
            <p>Krankmeldung
            </p>
          </li>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  
  <script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  function showModal() {
      $('.modal').show();
    }
    function hideModal() {
      $('.modal').hide();
    }
          

  </script>
</body>
</html>
