<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Joyful - Die App für den Kindergarten</h5>
        <p class="grey-text text-lighten-4">
          joyful verbindet Erzieher, Eltern, Träger und Kinder mittels einer unkomplizierten und selbsterklärenden Kommunikationszentrale.
        </p>
      </div>
      <div>
        <ul>
          <li><a class="white-text" href="http://joyful.loc/kiga">KIGA</a></li>
          <li>
            <a class="white-text" href="http://joyful.loc/eltern">Eltern</a>
          </li>
          <li>
            <a class="white-text" href="http://joyful.loc/kontakt">Kontakt</a>
          </li>
          <li>
            <a class="white-text" href="http://joyful.loc/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© by Katharina Zauner 2020</div>
  </div>
</footer>



