<body>
    <ul id="kiga-menu" class="dropdown-content">
      <li><a href="#!">Funktionen</a></li>
      <li><a href="#!">Kosten</a></li>
      <li class="divider"></li>
      <li><a href="#!">Datenschutz</a></li>
    </ul>

    <ul id="eltern-menu" class="dropdown-content">
      <li><a href="#!">Funktionen</a></li>
      <li><a href="#!">Kosten</a></li>
      <li class="divider"></li>
      <li><a href="#!">Datenschutz</a></li>
    </ul>

    <nav>
      <div class="nav-wrapper teal lighten-2">
        <a href="http://joyful.loc" class="brand-logo"><img class="responsive-img logo_header" src="/img/joyful_logowhite.svg"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="http://joyful.loc/kiga">KIGA</a></li>
          <li><a href="http://joyful.loc/eltern">Eltern</a></li>
          <li><a href="http://joyful.loc/kontakt">Kontakt</a></li>
          <li><a href="http://joyful.loc/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>