<div class="container col s12 m4 l10">
  <h3>Dashboard</h3>
</div>
<br />
<br />
<!-- Gruppen -->
<h5 class="container col s12 m4 l10">
  <i class="material-icons">people</i> Gruppen
</h5>
<br />
<table class="striped container col s12 m4 l10">
  <thead>
    <tr>
      <th>Gruppe 1</th>
      <th>Gruppe 2</th>
      <th>Gruppe 3</th>
      <th>Gruppe 4</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Erz.: 3; Kinder: 20;</td>
      <td>Erz.: 3; Kinder: 18;</td>
      <td>Erz.: 3; Kinder: 19;</td>
      <td>Erz.: 3; Kinder: 21;</td>
    </tr>
  </tbody>
</table>

<hr />
<br />
<!-- Statusmeldungen -->
<h5 class="container col s12 m4 l10">
  <i class="material-icons">report</i> Statusmeldungen
</h5>
<br />
<ul class="collection container col s12 m4 l10">
  <li class="collection-item avatar">
    <img src="/img/pippi.jpg" alt="" class="circle" />
    <span class="title">Pippi Langstrumpf</span>
    <p>
      wurde bis 13.12.2019 krank gemeldet. <br />
      <span class="badge yellow">Gruppe 3</span>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>12.12.2019, 14:35</span>
      </label>
    </p>
  </li>
  <li class="collection-item avatar">
    <img src="/img/harrypotter.jpg" alt="" class="circle" />
    <span class="title">Harry Potter</span>
    <p>
      verspätet sich um 30 Minuten. <br />
      <span class="badge yellow">Gruppe 4</span>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>12.12.2019, 08:35</span>
      </label>
    </p>
  </li>
</ul>
