<h3 class="seitenabstand padding-bottom">joyful für Eltern</h3>

<img class="responsive-img seitenabstand rotzkind" src="/img/rotzkind.jpg" />
<p class="seitenabstand justified">
  So bleiben Sie Ihrem Kind im Alltag nah. Pausenlos lernen Kinder in
  Kindergarten Neues und Aufregendes. Von diesen Entwicklungen und Abenteuern
  verpassen Eltern oft viel, denn in der täglichen Übergabe und im jährlichen
  Entwicklungsgespräch geht einiges verloren. Mit joyful können Sie jetzt in
  Echtzeit mit dem Computer, Tablet oder Smartphone am Tagesablauf Ihres Kindes
  teilhaben. Die pädagogischen Mitarbeiter der Einrichtung schicken Ihnen über
  die einfache Benutzeroberfläche Fotos, Videos und wichtige Infos direkt zu. So
  erhalten Sie und Ihre Lieben einen Einblick in den KIGA-Alltag Ihres Kindes.
  joyful will die Kommunikation zwischen Eltern und KIGA nicht ersetzen, sondern
  unterstützen. Schließlich kann eine Erziehungspartnerschaft nur funktionieren,
  wenn sich beide Partner ausreichend informiert fühlen. Uns ist wichtig, dass
  sich Eltern und Erzieher informiert und nicht kontrolliert fühlen um eine
  Kommunikation und Zusammenarbeit auf Augenhöhe zu ermöglichen. <br />
  <br />
  <b>Datenschutz ist joyful wichtig!</b> Datenschutz und Datensicherheit liegen
  uns sehr am Herzen. Bei joyful sind die Daten sicher. joyful erfüllt höchste
  Datenschutzstandards nach den Vorgaben der EU-Datenschutz-Grundverordnung
  (DSGVO). Das Daten- und Sicherheitskonzept wird ständig den aktuellsten
  semantischen und technischen Anforderungen angepasst. Unser mehrfach
  ausgezeichneter deutscher Hosting-Partner betreibt seine Rechenzentren in
  Österreich und diese werden rund um die Uhr überwacht. <br />
  Bei Fragen oder Wünschen können Sie uns jederzeit über das
  <a href="http://joyful.loc/kontakt">Kontaktformular</a> eine Nachricht senden,
  oder direkt per Mail an <i>office@joyful.at</i>.
</p>
<br /><br />
