<h3 class="container col s12 m4 l10">Kalender</h3>
<br />
<div class="container col s12 m4 l10">
  <a class="waves-effect waves-light btn-large" href="http://joyful.loc/termin"
    >Neuer Termin</a
  >
</div>
<br />
<ul class="collection with-header container col s12 m4 l10">
  <li class="collection-header"><h5>Montag, 05.12.2020</h5></li>
  <li class="collection-item">12:30 Ausflug Gruppe 4 KHM</li>
  <li class="collection-item">15:00 Vorstellungsgespräch Fr. Müllner</li>
  <li class="collection-item">15:45 Vorstellungsgespräch Hr. Leitner</li>
</ul>
<br />
<ul class="collection with-header container col s12 m4 l10">
  <li class="collection-header"><h5>Mittwoch, 06.12.2020</h5></li>
  <li class="collection-item">9:30 Ausflug Gruppe 2 KHM</li>
</ul>
