<div class="container col s12 m4 l5">
    <div class="row">
      <form class="col s12" method="POST" action="/kind/{{ @kind[0].kind_id }}/save" enctype="multipart/form-data">
  
        <h4>Daten vom Kind ändern</h4>
          <br>
  
        <!-- Avatar -->
        <div class="container col s12 m4 l10">
          <img class="circle" src="/{{ @avatar[0].dateiname }}" width="150">
        </div>
    
        <br>
        <br>
        <div class="row">
          <div class="input-field col s3">
            <input id="nachname" name="nachname" type="text" class="validate" 
            value="{{ @kind[0].nachname }}"/> 
                   
            <label for="nachname">Nachname</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="vorname" name="vorname" type="text" class="validate" value="{{ @kind[0].vorname }}" />
              <label for="vorname">Vorname</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="versNr" name="versNr" type="text" class="validate" value="{{ @kind[0].versnr }}"/>
            <label for="versNr">Vers. Nr.</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="gebTag" name="gebTag" type="text" class="datepicker" value="{{ @kind[0].gebtag }}"/>            
              <label for="gebTag">Geburtstag</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input id="kundNr" name="kundNr" type="text" class="validate" value="{{ @kind[0].kundnr }}"/>
            <label for="kundNr">Kundinnen-Nr.</label>
          </div>        
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input id="adresse" name="adresse" type="text" class="validate" value="{{ @kind[0].adresse }}"/>
            <label for="adresse">Adresse</label>          
          </div>
        </div>
  
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <input id="plz" name="plz" type="text" class="validate" value="{{ @kind[0].plz }}"/>
                <label for="plz">PLZ</label>
              </div>
              <div class="input-field col s3">
                <input id="ort" name="ort"  type="text" class="validate" value="{{ @kind[0].ort }}"/>
                <label for="ort">Ort</label>
              </div>              
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input id="muttersprache" name="muttersprache" type="text" class="validate" value="{{ @kind[0].muttersprachen }}"/>
            <label for="muttersprache">Muttersprache(n)</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <textarea id="geschwister" name="geschwister" class="materialize-textarea" value="{{ @kind[0].geschwister }}"></textarea>
            <label for="geschwister">Geschwister</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="start" name="start" type="text" class="datepicker" value="{{ @kind[0].starttag }}"/>
            <label for="start">Start</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3" id="gruppe">
            <select name="gruppe">
              <option value="1" <check if="{{ @kind[0].gruppen_id == 1 }}"> selected</check>>Gruppe 1</option>
              <option value="2" <check if="{{ @kind[0].gruppen_id == 2 }}"> selected</check>>Gruppe 2</option>
              <option value="3" <check if="{{ @kind[0].gruppen_id == 3 }}"> selected</check>>Gruppe 3</option>
              <option value="4" <check if="{{ @kind[0].gruppen_id == 4 }}"> selected</check>>Gruppe 4</option>
            </select>
            <label for="gruppe">Gruppe</label>
          </div>
        </div>
          
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="fruehbetreuung" value="1" <check if="{{ @kind[0].fruehbetreuung == 1 }}"> checked</check>/>
            <span>Frühbetreuung</span>
          </label>
        </p>
  
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="halbtags" value="1" <check if="{{ @kind[0].halbtags == 1 }}"> checked</check>/>
            <span>halbtags bis 14 Uhr</span>
          </label>
        </p>
  
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="ganztags" value="1" <check if="{{ @kind[0].ganztags == 1 }}"> checked</check>/>
            <span>ganztags bis 16 Uhr</span>
          </label>
        </p>
  
        <div class="row">
          <div class="input-field col s6">
            <textarea id="allergien" name="allergien" class="materialize-textarea" value="{{ @kind[0].allergien }}"></textarea>
            <label for="allergien">Allergie(n)</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <textarea id="krankheiten" name="krankheiten" class="materialize-textarea" value="{{ @kind[0].krankheiten }}"></textarea>
            <label for="krankheiten">Krankheite(n)</label>
          </div>
        </div>
  
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="windeln" value="1" <check if="{{ @kind[0].windeln == 1 }}"> checked</check>/>
            <span>Windeln</span>
          </label>
        </p>
  
        <p>
          <label>
            <input type="checkbox" class="filled-in" name="schnuller" value="1" <check if="{{ @kind[0].schnuller == 1 }}"> checked</check>/>
            <span>Schnuller</span>
          </label>
        </p>        
        <br><br>
        <button class="btn waves-effect waves-light" type="submit" name="speichern">Speichern</button>
      </form>
    </div>
  </div>
  
  
  <script>
    $(document).ready(function() {
      $(".datepicker").datepicker({format:"yyyy-mm-dd"});
    });
  
    $(document).ready(function() {
      $("select").formSelect();
    });
  </script> 
