<h3 class="seitenabstand">Login</h3>

<div class="row seitenabstand">
  <form action="/authenticate" method="post" class="col s10">
    <div class="row">
      <div class="input-field col s10">
        <input id="username" name="username" type="email" class="validate" />
        <label for="username">E-Mail</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s10">
        <input id="password" name="password" type="password" class="validate" />
        <label for="password">Passwort</label>
      </div>
    </div>

    <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Zugangsdaten speichern</span>
      </label>
    </p>

    <div class="pw-vergessen col s5">
      <a href="http://joyful.loc/passwort"
        ><button
          class="btn waves-effect waves-light grey"
          type="button"
          name="action"
        >
          Passwort vergessen?
        </button></a
      >
    </div>

    <div class="login-submit">
      <button class="btn waves-effect waves-light" type="submit" name="action">
        Login
      </button>
    </div>
  </form>
</div>
<br /><br />
