<div class="container col s12 m4 l5">
  <div class="row">
    <form class="col s12" method="post" action="/nachricht-gesendet">
      <h4>Neue Nachricht senden</h4>

      <br />
      <br />
      <div class="row">
        <div class="input-field col s6" id="empfaenger">
          <select name="empfaenger">
            <option value="1">Severus Snape</option>
            <option value="2">Albert Einstein</option>
            <option value="3">Hans Mustermann</option>
            <option value="4">Maria Langhals</option>
          </select>
          <label for="empfaenger">Empfänger</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="betreff" name="betreff" type="text" class="validate" />
          <label for="betreff">Betreff</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <textarea
            id="nachricht"
            name="nachricht"
            class="materialize-textarea"
          ></textarea>
          <label for="nachricht">Nachricht</label>
        </div>
      </div>

      <br />

      <button class="btn waves-effect waves-light" type="submit" name="action">
        Senden
      </button>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("select").formSelect();
  });
</script>
