<div class="container col s12 m4 l5">
    <include href="views/modules/alerts.html">
      <div class="row">
        <form class="col s12" method="POST" action="/kontaktperson/save">
          
          <h4>Kontaktperson</h4>
          <br>

          <div class="row">
          <div class="input-field col s3">
            <select name="kind_id">
              <repeat group="{{ @result }}" value="{{ @kind }}">
                <option value="{{ @kind.kind_id }}">{{ @kind.nachname }}</option>
              </repeat>
            </select>
          <label>Kind auswählen</label>
          </div></div>

          <div class="row">
              <div class="input-field col s3">
                <input id="beziehung" name="beziehung" type="text" class="validate" />    
                <check if="{{ @errors.beziehung }}">
                  <div class="field-error">{{ @errors.beziehung }}</div>
                </check>          
                <label for="beziehung">Beziehung</label>
              </div>
              <div class="row">
                <div class="input-field col s3">
                  <input id="famstand" name="famstand" type="text" class="validate" />
                  <check if="{{ @errors.famstand }}">
                    <div class="field-error">{{ @errors.famstand }}</div>
                  </check>
                  <label for="famstand">Familienstand</label>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="nachname" name="nachname" type="text" class="validate" />    
              <check if="{{ @errors.nachname }}">
                <div class="field-error">{{ @errors.nachname }}</div>
              </check>          
              <label for="nachname">Nachname</label>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <input id="vorname" name="vorname" type="text" class="validate" />
                <check if="{{ @errors.vorname }}">
                  <div class="field-error">{{ @errors.vorname }}</div>
                </check>
                <label for="vorname">Vorname</label>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s6">
              <input id="adresse" name="adresse" type="text" class="validate" />
              <check if="{{ @errors.adresse }}">
                <div class="field-error">{{ @errors.adresse }}</div>
              </check>
              <label for="adresse">Adresse</label>          
            </div>
          </div>
    
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s3">
                  <input id="plz" name="plz" type="text" class="validate" />
                  <check if="{{ @errors.plz }}">
                    <div class="field-error">{{ @errors.plz }}</div>
                  </check>
                  <label for="plz">PLZ</label>
                </div>
                <div class="input-field col s3">
                  <input id="ort" name="ort"  type="text" class="validate" />
                  <check if="{{ @errors.ort }}">
                    <div class="field-error">{{ @errors.ort }}</div>
                  </check>
                  <label for="ort">Ort</label>
                </div>              
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s6">
              <input id="telefon" name="telefon" type="text" class="validate" />
              <check if="{{ @errors.telefon }}">
                <div class="field-error">{{ @errors.telefon }}</div>
              </check>
              <label for="telefon">Telefon</label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s6">
              <textarea id="email" name="email" class="materialize-textarea"></textarea>
              <check if="{{ @errors.email }}">
                <div class="field-error">{{ @errors.email }}</div>
              </check>
              <label for="email">E-Mail</label>
            </div>
          </div>
  
          <br>
          <button class="btn waves-effect waves-light" type="submit" name="speichern">Speichern</button>
  
        </form>
      </div>
    </div>
    
<script>
      $(document).ready(function() {
        $("select").formSelect();
      });
</script> 
    