<h3 class="container col s12 m4 l10">Speiseplan</h3>
<br />
<table class="centered container col s12 m4 l10">
  <thead>
    <tr>
      <th>
        Montag <br />
        <input type="text" />
      </th>
      <th>
        Dienstag <br />
        <input type="text" />
      </th>
      <th>
        Mittwoch <br />
        <input type="text" />
      </th>
      <th>
        Donnerstag <br />
        <input type="text" />
      </th>
      <th>
        Freitag <br />
        <input type="text" />
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
    </tr>
    <tr>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
    </tr>
    <tr>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
    </tr>
  </tbody>
</table>
<br />

<div class="container col s12 m4 l10">
  <button class="btn waves-effect waves-light" type="submit" name="speichern">
    Speichern
  </button>
</div>
