<div class="container col s12 m4 l5">
    <include href="views/modules/alerts.html">
    <div class="row">
      <form class="col s12" method="POST" action="/team/save">
  
        <h4>Teammitglied anzeigen</h4>
          <br>
  
        <!-- Avatar -->
        <div class="container col s12 m4 l10">
            <img class="circle" src="/{{ @avatar[0].dateiname }}" width="150">
          </div>
    
        <br>
        <br>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="nachname" name="nachname" type="text" class="validate" value="{{ @team[0].nachname }}">             
            <label for="nachname">Nachname</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="vorname" name="vorname" type="text" class="validate" value="{{ @team[0].vorname }}"/>
              <label for="vorname">Vorname</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="versNr" name="versNr" type="text" class="validate" value="{{ @team[0].versnr }}"/>
            <label for="versNr">Vers. Nr.</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="gebTag" name="gebTag" type="text" class="datepicker" value="{{ @team[0].gebtag }}"/>             
              <label for="gebTag">Geburtstag</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input id="adresse" name="adresse" type="text" class="validate" value="{{ @team[0].adresse }}"/>
            <label for="adresse">Adresse</label>          
          </div>
        </div>
  
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <input id="plz" name="plz" type="text" class="validate" value="{{ @team[0].plz }}"/>
                <label for="plz">PLZ</label>
              </div>
              <div class="input-field col s3">
                <input id="ort" name="ort"  type="text" class="validate" value="{{ @team[0].ort }}"/>
                <label for="ort">Ort</label>
              </div>              
            </div>
          </div>
        </div>
  
        <div class="row">
            <div class="input-field col s6">
              <input id="telefon" name="telefon" type="text" class="validate" value="{{ @team[0].telefon }}"/>
              <label for="telefon">Telefon</label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s6">
                <input id="email" name="email" type="text" class="validate" value="{{ @team[0].email }}"/>
              <label for="email">E-Mail</label>
            </div>
          </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="dienstvertrag" name="dienstvertrag" type="text" class="datepicker" value="{{ @team[0].dienstvertrg }}"/>
            <label for="dienstvertrag">Start</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3" id="gruppe">
            <select name="gruppe">
              <option value="1"  <check if="{{ @team[0].gruppen_id == 1 }}"> selected</check>>Gruppe 1</option>
              <option value="2" <check if="{{ @team[0].gruppen_id == 2 }}"> selected</check>>Gruppe 2</option>
              <option value="3" <check if="{{ @team[0].gruppen_id == 3 }}"> selected</check>>Gruppe 3</option>
              <option value="4" <check if="{{ @team[0].gruppen_id == 4 }}"> selected</check>>Gruppe 4</option>
            </select>
            <label for="gruppe">Gruppe</label>
          </div>
        </div>
          
        <div class="row">
            <div class="input-field col s3" id="funktion">
              <select name="funktion">
                <option value="1" <check if="{{ @team[0].gruppen_id == 1 }}"> selected</check>>Erzieher</option>
                <option value="2" <check if="{{ @team[0].gruppen_id == 2 }}"> selected</check>>Assistenz</option>
                <option value="3" <check if="{{ @team[0].gruppen_id == 3 }}"> selected</check>>Leitung</option>
                <option value="4" <check if="{{ @team[0].gruppen_id == 4 }}"> selected</check>>Springer</option>
              </select>
              <label for="funktion">Funktion</label>
            </div>
          </div>
       
        <button class="btn waves-effect waves-light" type="submit" name="speichern">Speichern</button>
      </form>
    </div>
  </div>
  
  
  <script>
    $(document).ready(function() {
      $(".datepicker").datepicker({format:"yyyy-mm-dd"});
    });
  
    $(document).ready(function() {
      $("select").formSelect();
    });
  </script> 
  