<h3 class="container col s12 m4 l10">Team</h3>
<br />

<div class="container col s12 m4 l10">
  <a
    class="waves-effect waves-light btn-large"
    href="http://joyful.loc/team/neu"
    >Neues Teammitglied</a
  >
</div>

<br />
<table class="responsive-table highlight container col s12 m4 l10">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Adresse</th>
      <th>PLZ</th>
      <th>Gruppe</th>
      <th>Telefon</th>
      <th>Aktion</th>
    </tr>
  </thead>

  <tbody>
    <repeat group="{{ @result }}" value="{{ @team }}">
      <tr>
        <td>{{ @team.team_id }}</td>
        <td>{{ @team.nachname }}</td>
        <td>{{ @team.vorname }}</td>
        <td>{{ @team.adresse }}</td>
        <td>{{ @team.plz }}</td>
        <td>{{ @team.gruppen_id }}</td>
        <td>{{ @team.telefon }}</td>
        <td>
          <a href="/team/{{ @team.team_id }}"><i class="small material-icons black-text">visibility</i></a>
          <a href="/team/{{ @team.team_id }}/edit"><i class="small material-icons black-text">create</i></a>
          <a href="/team/{{ @team.team_id }}/delete"><i class="small material-icons black-text">clear</i></a>
        </td>
      </tr>
    </repeat>
  </tbody>
</table>
