<div class="container col s12 m4 l5">
    <include href="views/modules/alerts.html">
    <div class="row">
      <form class="col s12" method="POST" action="/team/save">
  
        <h4>Neues Teammitglied</h4>
          <br>
  
        <!-- Avatar -->
        <div class="container col s12 m4 l10">
          <label for="avatar">Profilfoto (1x1):</label>
          <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        </div>
    
        <br>
        <br>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="nachname" name="nachname" type="text" class="validate" />    
            <check if="{{ @errors.nachname }}">
              <div class="field-error">{{ @errors.nachname }}</div>
            </check>          
            <label for="nachname">Nachname</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="vorname" name="vorname" type="text" class="validate" />
              <check if="{{ @errors.vorname }}">
                <div class="field-error">{{ @errors.vorname }}</div>
              </check>
              <label for="vorname">Vorname</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="versNr" name="versNr" type="text" class="validate" />
            <check if="{{ @errors.versNr }}">
              <div class="field-error">{{ @errors.versNr }}</div>
            </check>
            <label for="versNr">Vers. Nr.</label>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="gebTag" name="gebTag" type="text" class="datepicker" />   
              <check if="{{ @errors.gebTag }}">
                <div class="field-error">{{ @errors.gebTag }}</div>
              </check>           
              <label for="gebTag">Geburtstag</label>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s6">
            <input id="adresse" name="adresse" type="text" class="validate" />
            <check if="{{ @errors.adresse }}">
              <div class="field-error">{{ @errors.adresse }}</div>
            </check>
            <label for="adresse">Adresse</label>          
          </div>
        </div>
  
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <input id="plz" name="plz" type="text" class="validate" />
                <check if="{{ @errors.plz }}">
                  <div class="field-error">{{ @errors.plz }}</div>
                </check>
                <label for="plz">PLZ</label>
              </div>
              <div class="input-field col s3">
                <input id="ort" name="ort"  type="text" class="validate" />
                <check if="{{ @errors.ort }}">
                  <div class="field-error">{{ @errors.ort }}</div>
                </check>
                <label for="ort">Ort</label>
              </div>              
            </div>
          </div>
        </div>
  
        <div class="row">
            <div class="input-field col s6">
              <input id="telefon" name="telefon" type="text" class="validate" />
              <check if="{{ @errors.telefon }}">
                <div class="field-error">{{ @errors.telefon }}</div>
              </check>
              <label for="telefon">Telefon</label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s6">
              <textarea id="email" name="email" class="materialize-textarea"></textarea>
              <check if="{{ @errors.email }}">
                <div class="field-error">{{ @errors.email }}</div>
              </check>
              <label for="email">E-Mail</label>
            </div>
          </div>
  
        <div class="row">
          <div class="input-field col s3">
            <input id="dienstvertrag" name="dienstvertrag" type="text" class="datepicker" />
            <check if="{{ @errors.dienstvertrag }}">
              <div class="field-error">{{ @errors.dienstvertrag }}</div>
            </check>
            <label for="dienstvertrag">Start</label>
          </div>
        </div>
  
        <div class="row">
          <div class="input-field col s3" id="gruppe">
            <select name="gruppe">
              <check if="{{ @errors.gruppe }}">
                <div class="field-error">{{ @errors.gruppe }}</div>
              </check>
              <option value="1">Gruppe 1</option>
              <option value="2">Gruppe 2</option>
              <option value="3">Gruppe 3</option>
              <option value="4">Gruppe 4</option>
            </select>
            <label for="gruppe">Gruppe</label>
          </div>
        </div>
          
        <div class="row">
            <div class="input-field col s3" id="funktion">
              <select name="funktion">
                <check if="{{ @errors.funktion }}">
                  <div class="field-error">{{ @errors.funktion }}</div>
                </check>
                <option value="1">Erzieher</option>
                <option value="2">Assistenz</option>
                <option value="3">Leitung</option>
                <option value="4">Springer</option>
              </select>
              <label for="funktion">Funktion</label>
            </div>
          </div>
       
        <button class="btn waves-effect waves-light" type="submit" name="speichern">Speichern</button>
      </form>
    </div>
  </div>
  
  
  <script>
    $(document).ready(function() {
      $(".datepicker").datepicker({format:"yyyy-mm-dd"});
    });
  
    $(document).ready(function() {
      $("select").formSelect();
    });
  </script> 
  